.feed {
  flex: 0.8;

  min-height: 100vh;
  height: max-content;
  margin-left: 40px;
  margin-right: 40px;
}

.feed-header {
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
  z-index: 100;
  padding: 0px 15px;
  display: flex;
  flex: 1;
  align-items: center;
}
.feed-headerText {
  flex: 0.5;
  font-size: 20px;
  font-weight: 800;
  color: var(--plain-text);
  padding: 15px;
}
.homeStarsCol {
  color: var(--plain-text);
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}
.homeStars {
  fill: var(--blue);
  padding: 8px;
  margin: 8px 0px;
}
.homeStars:hover {
  background-color: var(--hover-blue-color);
  border-radius: 9999px;
}

.feed-header .feed-headerAvatar {
  display: none;
}
@media (min-width: 0) and (max-width: 1000px) {
  .feed {
    flex: 1;
  }
}
@media (min-width: 0) and (max-width: 450px) {
  .feed {
    flex: 1;
    margin: 0px;
  }
  .feed-header .feed-headerAvatar {
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 2px;
    height: 32px;
    width: 32px;
  }
  .feed > .tweetbox,
  .feed > .bottomBorder {
    display: none;
  }
  .drawerBarPanel {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--gray) 0.8;
    position: absolute;
    z-index: 1000;
  }
}
