.friendSuggestions {
  display: flex;
  flex-direction: column;
  background-color: var(--hover-color);
  border-radius: 20px;
  margin: 15px 0px;
}
.friendSuggestionsHeader {
  padding: 10px 15px;
  color: var(--plain-text);
  display: inline;
  font-size: 19px;
  font-weight: 800;
  border-bottom: 0.5px var(--border-color) solid;
}
