.widgetsSearch {
  z-index: 2;
  position: sticky;
  top: 0;
  border-color: var(--plain-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  border-radius: 9999px;
  border-color: var(--plain-text);
  padding: 10px 18px;
}
.widgetsSearchIcon {
  border-color: var(--plain-text);
  font-size: 15px;
}
.widgetsSearchInput {
  width: 100%;
  background-color: var(--main-bg-color);
  border: none;
  font-size: 15px;
  color: var(--plain-text);
  outline: none;
}
.widgetsSearchInput::placeholder {
  color: var(--gray);
  font-size: 15px;
}
.widgetsSearchFocus {
  border: 1px solid var(--twitter-color);
  background-color: var(--main-bg-color);
}
.widgetsSearchIconFocus {
  color: var(--blue);
}

.search-field {
  color: var(--plain-text);
}

.search-listbox-dark,
.search-listbox {
  background-color: var(--main-bg-color);
  color: var(--plain-text);
}

.search-option-dark,
.search-option {
  font-family: "Open Sans", sans-serif;
}
