.post {
  padding-top: 10px;
  border: 0.5px var(--border-color) solid;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 10px;
  border-radius: 16px;
  box-shadow: 2px 1.5px 1px 1px var(--twitter-color) !important;
}

.post:hover {
  background-color: var(--hover-color);
}
.post > div > .MuiAvatar-root {
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 15px;
}
.post-content-col {
  margin-right: 15px;
  flex: 1;
  position: relative;
}
.post-header {
  display: flex;
  align-items: center;
}
.post-header-displayname {
  color: var(--plain-text);
  font-size: 15px;
  font-weight: 700;
  margin-right: 5px;
}
.post-header-displayname:hover {
  text-decoration: underline;
}
.post-header-username {
  color: var(--gray);
  font-size: 15px;
}
.post-header-date {
  margin-left: 5px;
  color: var(--gray);
  font-size: 15px;
}
.postMoreIcon {
  margin-top: -10px;
  margin-left: auto;
  margin-right: -5px;
  color: var(--gray);
  border-radius: 9999px;
  padding: 5px;
}

.postMoreIcon:hover {
  background-color: var(--hover-color);
  color: var(--gray);
}

.post-content {
  text-align: justify;
  color: var(--plain-text);
  display: inline;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.post-event {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.post-event > div {
  flex: 0.25;
  display: flex;
  align-items: center;
}
.post-event > div > span {
  fill: var(--twitter-color);
  font-size: 13px;
}
.postIcon {
  color: var(--post-icon);
  width: 25px;
  padding: 5px;
  border-radius: 9999px;
  margin: 5px;
}
.post-event div:nth-child(1) .postIcon:hover {
  fill: var(--twitter-color);
  background-color: var(--hover-color);
}

.post-image {
  padding-top: 10px;
}

.post-image img {
  width: 100%;
  border-radius: 10px;
  max-height: 300px;
  object-fit: cover;
}
