.MuiDialog-root {
  outline: none;
}

.profile {
  border: 0.5px solid var(--border-color);
  border-radius: 13px;
  margin-top: 5px;
}

.profileHeader {
  position: sticky;
  z-index: 2;
  top: 0px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid var(--border-color);
  border-radius: 12px;
  margin-bottom: px;
}

.profileHeader .MuiSvgIcon-root {
  margin: 8px 25px 8px 12px;
  padding: 7px;
  color: var(--twitter-color);
  border-radius: 9999px;
}

.profileHeader .MuiSvgIcon-root:hover {
  background-color: var(--hover-color);
}

.profileHeader div span:nth-child(1) {
  display: flex;
  flex-direction: column;
  color: var(--twitter-color);
  font-size: 20px;
  font-weight: 800;
}

.profileHeader div span:nth-child(2) {
  color: #8899a6;
  font-size: 15px;
}

.backgroundImage {
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background: rgb(71, 67, 69);
  border-radius: 12px;
}

.profileTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
}

.profileImage {
  width: 134px;
  height: 134px;
  margin-top: -67px;
  border-radius: 9999px;
  padding: 5px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImage > .MuiAvatar-root {
  width: 134px;
  height: 134px;
}

.editProfile,
.followBtn {
  height: auto !important;
  margin-left: auto !important;
  /* margin-top: -7px !important; */
  padding: 10px 15px !important;
  border: 1px var(--twitter-color) solid !important;
  border-radius: 9999px !important;
  color: var(--twitter-color) !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

.editProfile:hover,
.followBtn {
  /* background-color: var(--hover-blue-color); */
}

.profileBiography {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

.profileBiography span:nth-child(1) {
  color: var(--gray);
  font-size: 19px;
  font-weight: 800;
}

.profileBiography span:nth-child(2) {
  color: #8899a6;
  font-size: 15px;
}

.profileBiography span:nth-child(3) {
  margin: 5px 0px;
  color: #9a8b8b;
  font-size: 15px;
  font-style: oblique;
  font-weight: 700;
}

.profileBiography span:nth-child(4) {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 15px;
}

.profileBiography span:nth-child(4) .MuiSvgIcon-root {
  font-size: 15px;
  margin-right: 5px;
}

.profile div:nth-child(4) {
  padding: 0px 15px;
  margin-top: 5px;
}

.profile div:nth-child(4) span {
  margin-right: 15px;
}

.profile div:nth-child(4) span span:nth-child(1) {
  color: #000000;
  font-weight: 700;
  font-size: 15px;
  margin-right: 5px;
}

.profile div:nth-child(4) span span:nth-child(2) {
  color: var(--gray);
  font-size: 15px;
}

.profileCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 15px;
}

.profileCategory > div:nth-child(1),
.profileCategory > div:nth-child(3),
.profileCategory > div:nth-child(4) {
  flex: 0.2;
  text-align: center;
  color: var(--gray);
  font-size: 15px;
  font-weight: 700;
  padding: 15px 0px;
}

.profileCategory > div:nth-child(2) {
  flex: 0.4;
  text-align: center;
  color: var(--gray);
  font-size: 15px;
  font-weight: 700;
  padding: 15px 0px;
}

.profileCategory > div:hover {
  background-color: var(--hover-color);
  color: var(--twitter-color);
}

.profileCategoryActive {
  border-bottom: 2px var(--twitter-color) solid;
}

.profileCategoryActive > span {
  color: var(--twitter-color);
}

@media (min-width: 0) and (max-width: 1000px) {
  .backgroundImage {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* change indicatorColor of tabs */
.MuiTabs-indicator {
  background-color: var(--twitter-color) !important;
}

.moreOption {
  margin-left: 550px;
  color: var(--gray);
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
}

.moreOption:hover {
  color: var(--blue);
  background-color: var(--hover-blue-color);
  cursor: pointer;
}

.profilePost {
  margin: 0px;
  margin-top: 0px;
}

.MuiMenu-root ul {
  background-color: var(--main-bg-color) !important;
}
