.friendSuggestionsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.friendSuggestionImage {
  padding: 15px 10px;
  cursor: pointer;
}
.friendSuggestionImage .MuiAvatar-root {
  z-index: 1;
}
.friendFollowButton {
  border-radius: 9999px;
  border: 1px var(--twitter-color) solid;
  color: var(--twitter-color);
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: 15px;
  padding: 5px 16px;
}
.friendFollowButton:hover {
  background-color: var(--hover-blue-color);
}

.dname {
  color: var(--plain-text);
}
.profileCardNameColName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.follow-icon {
  width: 40px;
}

.followed-icon {
  width: 50px;
}
