.comment {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
}

.comment__body {
  flex: 1;
  padding: 10px;
}

.comment__avatar {
  padding: 20px;
}

.comment__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.comment__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.comment__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}
