.darkDialog {
  background-color: #1e1e1e;
  color: #fff;
}

.lightDialog {
  background-color: #fff;
  color: #000;
}

.darkButton {
  background-color: #1e1e1e !important;
  color: #fff !important;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: none;
}

.darkButton:hover {
  background-color: #00d5bf !important;
}

.lightButton {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: none;
}

.lightButton:hover {
  background-color: #00d5bf !important;
  color: #fff !important;
}
