@import url("https://fonts.cdnfonts.com/css/smelly-peach");
@import url("https://fonts.cdnfonts.com/css/kollektif");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100;1,600&display=swap");

:root {
  /* option 1 */
  /* --main-bg-color: #15202b;
  --hover-color: #1c2732; 
  --element-bg-color: #192734; */

  /* option 2 */
  /* --main-bg-color: #252121;
  --hover-color: #413839;
  --element-bg-color: #413839; */

  /* option 3 */
  /* --main-bg-color: #201910;
  --hover-color: #362819;
  --element-bg-color: #362819; */

  /* option 4 */
  --main-bg-color: #18191a;
  --hover-color: #242526;
  --element-bg-color: #242526;

  --blue: #1da1f2;
  --hover-blue-color: #162d40;
  --border-color: #00d5bf;
  --gray: #8899a6;
  --input-background-color: #253341;
  --from-message-color: #3d5466;
  --twitter-color: #00d5bf;
  --plain-text: #ffffff;
  --post-icon: #00d5bf;
}

[data-theme="light"] {
  --main-bg-color: #ffffff;
  --blue: #1da1f2;
  --element-bg-color: #f5f7f8;
  --hover-color: #f5f5f5;
  --hover-blue-color: #162d40;
  --border-color: #00d5bf;
  --gray: #192734;
  --input-background-color: #253341;
  --from-message-color: #3d5466;
  --twitter-color: #00d5bf;
  --plain-text: #0f1419;
  --post-icon: #15202b;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;
}
